<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <nav class="show-nav">
      <% include ../partials/nav.ejs %>
    </nav>
    <form class="alt-nav" action="/reviews/<%=review.id%>?_method=delete" method="post">
      <button class="delete">delete</button>
    </form>
    <div class="content new-edit">

      <form action="/reviews/<%=review.id%>?_method=put" method="post">

        <div class="form-group row">
          <label class='col-form-label col-sm-2' for="exampleFormControlFile1">upload image #1</label>
          <div class="col-sm-10">
            <input type="text" name="img" class="form-control" value="<%= review.img[0] %>" id="exampleFormControlInput1" >
            <%# <input type="file" name="img" class="form-control-file" id="exampleFormControlFile1">%>
          </div>
        </div>

        <div class="form-group row">
          <label class='col-form-label col-sm-2' for="exampleFormControlFile1">upload image #2</label>
          <div class="col-sm-10">
            <input type="text" name="img" class="form-control" value="<%= review.img[0] %>" id="exampleFormControlInput1" >
            <%# <input type="file" name="img" class="form-control-file" id="exampleFormControlFile1">%>
          </div>
        </div>
        <div class="form-group row">
          <label class='col-form-label col-sm-2' for="exampleFormControlFile1">upload image #3</label>
          <div class="col-sm-10">
            <input type="text" name="img" class="form-control" value="<%= review.img[0] %>" id="exampleFormControlInput1" >
            <%# <input type="file" name="img" class="form-control-file" id="exampleFormControlFile1" >%>
          </div>
        </div>

        <div class="form-group row">
          <label class='col-form-label col-sm-2' for="exampleFormControlInput1">state or park</label>
          <div class="col-sm-10">
            <input type="text" name="location" class="form-control" value="<%= review.location %>" id="exampleFormControlInput1">
          </div>
        </div>
        <div class="form-group row">
          <label class='col-form-label col-sm-2' for="exampleFormControlInput1">campsite</label>
          <div class="col-sm-10">
            <input type="text" name="site" class="form-control" value="<%= review.site %>" id="exampleFormControlInput1" placeholder="optional">
          </div>
        </div>

        <div class="form-group row">
          <label class='col-form-label col-sm-2' for="exampleFormControlSelect1">campsite type</label>
          <div class="col-sm-10">

            <select class="form-control" name="type" id="exampleFormControlSelect1">
              <option>RV</option>
              <option selected="selected">Car</option>
              <option>Tent</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class='col-form-label col-sm-2' for="exampleFormControlSelect1">rating</label>
          <div class="col-sm-10">

            <select class="form-control" name="rating" type="number" value="<%= review.rating %>" id="exampleFormControlSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class='col-form-label col-sm-2' for="exampleFormControlTextarea1">review</label>
          <div class="col-sm-10">
            <input type="textarea" class="form-control" name="review" rows="4" value="<%= review.review %>" id="exampleFormControlTextarea1">
          </div>
        </div>

        <div class="form-group row">
          <label class='col-form-label col-sm-2' for="exampleFormControlInput1">submitted by</label>
          <div class="col-sm-10">
            <input type="text" name="submitter" class="form-control" value="<%= review.submitter %>" id="exampleFormControlInput1">
          </div>
        </div>

        <input type="submit" class="btn submit btn-lg" name="submit" value="submit" >

      </form>

    <% include ../partials/footer.ejs %>
  </body>
</html>
