<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <nav>
      <% include ../partials/nav.ejs %>
    </nav>
    <div class="content">


      <div>
        <% for (let i = 0; i < review.img.length; i++) { %>
          <img src="<%= review.img[i] %>"/>
        <% } %>
      </div>

      <div>

        <div>
          <% if (review.site !== "") { %>
            <%= review.location %>: <%= review.site %>
          <% }
          else { %>
            <%= review.location %>
          <% } %>
        </div>
        <div>
          Rating: <%= review.rating %>
        </div>

      </div>
      <div>

      </div>
        <%= review.review %>
      </div>

  </body>
</html>
