<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <nav class="show-nav">
      <% include ../partials/nav.ejs %>
    </nav>
    <div class="alt-index-nav">
      <% if (username) { %>
        <div>
          <a class="start-link" href="/reviews/user/<%= username %>"><%= username %></a> |
          <a class="index-link" href="/user/logout">log out</a>
        </div>
      <% }
      else { %>
        <a class="start-link" href="/user/login">log in</a>
      <% } %>
      <div>
        <a class="index-link" href="/reviews/rv">RV</a> |
        <a class="index-link" href="/reviews/car">Car</a> |
        <a class="index-link" href="/reviews/tent">Tent</a>
      </div>
    </div>

    <div class="alt-index-title"><%= submitter %></div>
    <div class="alt-index">
      <% for (var i = 0; i < allReviews.length; i++) { %>
        <a class="index-card" href="/reviews/<%= allReviews[i].id %>">
          <img class="img-index" src="<%= allReviews[i].img[0] %>"/>
          <div class="img-text"><%= allReviews[i].location %></div>
        </a>
      <% } %>

    </div>


    <% include ../partials/footer.ejs %>
  </body>
</html>
